@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

#app {
  height: 100vh;
  overflow: auto;
  max-width: 100%;
  padding: 30px;
  background: url(/public/img/background.png) no-repeat 100% 100%;
  background-size: cover;
  font-family: Lato, 'sans-serif';
}
